modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Game Server"

[[workflows.workflow]]
name = "Game Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "JWT_SECRET=d1e2a80ab72bb88a1daac8c76f87c5495509afcf3b466726eba8c7bf716552c017cc59afd5da15fd00c2649ee2cf225252b90ad361861d58305a595d5f72e391 GAME_ENCRYPTION_KEY=d5241b1c3e4065135ea5413b32bffea444a75ca5914d5c86f26b851bbb3e8b20 npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35333
externalPort = 3000

[[ports]]
localPort = 35651
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
